$text-sm: 0.83rem;


body {
  background: $light-grayish-blue;
  @include flex-center;
  min-height: 100vh;
}

.article-preview {
  background: white;
  margin: $mp-lg;
  border-radius: $br-base;
  overflow: hidden;

  h3 {
    @include font-size($text-base, $text-2xl);
    font-weight: 700;
  }

  h4 {
    @include font-size($text-sm);
    font-weight: 700;
  }

  p {
    @include font-size($text-sm, $text-xl);
    color: $grayish-blue;
  }

  .toggle-view-btn {
    @include box(32px);
    @include flex-center;
    border-radius: $br-full;
    background: $light-grayish-blue;

    &--active {
      background: white;
      color: $light-grayish-blue;
    }
  }

  &__img {
    @include box(100%, 218px);
    object-fit: cover;
    object-position: top;
  }

  &__description {
    padding: $mp-xl $mp-xl $mp-base $mp-xl;
    p {
      margin-top: $mp-base;
    }
  }
}

.author-info {
  padding: $mp-base $mp-xl $mp-base $mp-xl;
  height: 40px;
  @include flex-center-vert;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 400ms;

  &.inactive-step-1 {
    opacity: 0;
  }

  &.inactive-step-2 {
    display: none;
  }

  &__content {
    display: flex;

    img {
      @include box(40px);
      border-radius: $br-full;
    }
  }

  &__texts {
    @include margin-horiz($mp-base);
  }
}

.sharing-bar {
  background: $very-dark-grayish-blue;
  padding: $mp-base $mp-xl $mp-base $mp-xl;
  height: 40px;
  @include flex-center;
  justify-content: space-between;
  display: none;
  opacity: 0;
  transition: opacity 400ms;

  &.active-step-1 {
    display: flex;
  }

  &.active-step-2 {
    opacity: 1;
  }

  &__content {
    @include flex-center-vert;

    h4 {
      letter-spacing: $ls-3;
    }

    button {
      margin-left: $mp-base;
      @include flex-center;
    }
  }
}