$text-sm: 0.83rem;

body {
  background: $light-grayish-blue;
  @include flex-center;
  min-height: 100vh;
}

.article-preview {
  background: white;
  margin: $mp-lg;
  border-radius: $br-base;

  h3 {
    @include font-size($text-base, $text-2xl);
    font-weight: 700;
    color: $very-dark-grayish-blue;
  }

  h4 {
    @include font-size($text-sm);
    font-weight: 700;
    color: $very-dark-grayish-blue;
  }

  p {
    @include font-size($text-sm, $text-xl);
    color: $grayish-blue;
  }

  .toggle-view-btn {
    @include box(32px);
    @include flex-center;
    border-radius: $br-full;
    background: $light-grayish-blue;

    .icon-share-white {
      display: none;
    }

    &--active {
      background: $desaturated-dark-blue;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__img {
    @include box(100%, 218px);
    object-fit: cover;
    object-position: top;
    border-radius: $br-base $br-base 0 0;
  }

  &__description {
    padding: $mp-xl $mp-xl $mp-base $mp-xl;
    p {
      margin-top: $mp-base;
    }
  }
}

.author-container {
  position: relative;
}

.author-info {
  padding: $mp-base $mp-xl $mp-base $mp-xl;
  height: 40px;
  @include flex-center-vert;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 500ms;

  &.inactive-step-1 {
    opacity: 0;
  }

  &.inactive-step-2 {
    display: none;
  }

  &__content {
    display: flex;

    img {
      @include box(40px);
      border-radius: $br-full;
    }
  }

  &__texts {
    @include margin-horiz($mp-base);
  }
}

.sharing-bar {
  background: $very-dark-grayish-blue;
  padding: $mp-base $mp-xl $mp-base $mp-xl;
  height: 40px;
  border-radius: 0 0 $br-base $br-base;
  @include flex-center;
  justify-content: space-between;
  display: none;
  opacity: 0;
  transition: opacity 500ms;

  &.active-step-1 {
    display: flex;
  }

  &.active-step-2 {
    opacity: 1;
  }

  &__content {
    @include flex-center-vert;

    h4 {
      letter-spacing: $ls-3;
      color: $grayish-blue;
    }

    button {
      margin-left: $mp-base;
      @include flex-center;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@include breakpoint($tablet) {
  .article-preview {
    display: grid;
    grid-template-columns: 40% 60%;
    max-width: 730px;
    margin: $mp-3xl;

    h3 {
      @include font-size($text-xl, $text-3xl);

    }

    &__img {
      @include box(100%);
      object-fit: cover;
      object-position: left;
      border-radius: $br-base 0 0 $br-base;
    }
  }
  .author-info {
    padding: $mp-sm $mp-xl $mp-lg $mp-xl;

    &.inactive-step-1, &.inactive-step-2 {
      opacity: unset;
      display: flex;

      .toggle-view-btn {
        background: $desaturated-dark-blue;

        svg path {
          fill: white;
        }
      }
    }
  }

  .sharing-bar {
    position: absolute;
    bottom: 6rem;
    right: -4.4rem;
    padding: $mp-sm $mp-xl;
    border-radius: $br-base;
    display: flex;
    @include fade('hide');

    &.active-step-1, &.active-step-2 {
      @include fade('show');
    }

    .toggle-view-btn {
      display: none;
    }

    &:after {
      content:'';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-top: solid 12px $very-dark-grayish-blue;
      border-left: solid 12px transparent;
      border-right: solid 12px transparent;
    }
  }
}